:root {
    --Primary-Colour: #3a0ca3;
    --Text-Colour-2: #2b2b2b;
    --colour-1: #4361EE;
    --Colour-2: #e6ebfd;
    --Text-Colour-3: #808080;
    --Text-Colour-4: #aaa;
    --link-bc: rgba(67, 97, 238, 0.3);
    --white: #fff;
}